doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"')

    title #SaaKehua

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css')
    link(rel='stylesheet', href=root+'/stylesheets/leaflet-sidebar.css')
    link(rel='stylesheet', href=root+'/stylesheets/style.css')

    script
      | var SERVER_ROOT = "#{root}";

    script(src='https://use.fontawesome.com/eb0050d8dd.js')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js')
    script(src=root+'/js/leaflet-sidebar.min.js')
    script(src='/socket.io/socket.io.js')
    script(src=root+'/js/templates.js')
    script(src=root+'/js/bootbox.min.js')
    script(src=root+'/js/bouncemarker.js')
    script(src=root+'/js/main.js')
  body
    include sidebar
    block content